

<section>
<div class="row py-lg-5">
    <div class="mx-auto col-lg-6 col-md-8">
      <h1 class="fw-light">Elecciones</h1>
      <p class="lead text-muted">Aqui se muestra el listado de las elecciones para votar</p>
      <p>
      {{#if candidat2sActivos}}
          {{#if hasEleccionActive}}
            <h3>Para poder iniciar una elección se debe tener en el sistema al menos dos candidatos
            creados y activos y no debe haber una eleccion activa.</h3>
          {{else}}
            <a href="/agregar-elecciones" class="my-2 btn btn-primary">Agregar nueva eleccion</a>  
          {{/if}}
      {{else}}
        <div class="alert alert-warning" role="alert">
            Para poder iniciar una elección se debe tener en el sistema al menos dos candidatos
            creados y activos y no debe haber una eleccion activa.
        </div> 
      {{/if}}
      </p>
    </div>
</div> 
</section>
 
 {{#if hayElecciones}} 
<section class="container py-5 text-center">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
      <th scope="col">Ver mas</th>
      <th scope="col">Acciones</th> 
    </tr>
  </thead>
  <tbody>
      {{#each eleccones }}
    <tr> 
        <td>{{this.nombre}}</td>
        <td>{{this.fecha}}</td>
        <td class="">{{#if this.estado}}
                      <span class="badge bg-success float-end">Active</span><br>
                  {{else}}
                      <span class="badge bg-danger float-end">Disabled</span><br> 
                  {{/if}}</td>
        <td><Button class="mt-3 btn btn-success">Click</Button></td>
        <td><a
                href="/editar-elecciones/{{this.id}}?edit=true"
                class="my-3 btn btn-warning"
              >Editar</a> <form class="form-inline" id="form-delete" action="/delete-elecciones" method="POST">
                        <input type="hidden" name="eleccionId" value="{{this.id}}">
                        <button type="submit" id="eleccionId" class="btn btn-danger">Eliminar</button>
                    </form> </td> 
    </tr> 
      {{/each}} 
  </tbody>
</table>
</section>
   {{else}}
    <h3>No hay elecciones.</h3>
 {{/if}}
 