<section class="container py-5 text-center">
  <div class="row py-lg-5">
    <div class="mx-auto col-lg-6 col-md-8">
      <h1 class="fw-light">Candidatos</h1>
      <p class="lead text-muted">Aqui se muestra el listado de los candidatos y
        las opciones que se pueden implementar con los mismos</p>
      <p>
        {{#if partidosAny}}
            {{#if puestoElectivoAny}}
                <a href="/agregar-candidato" class="my-2 btn btn-primary">Agregar nuevo
            candidato</a> 
            {{else}}
             <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> 
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg> 
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="flex-shrink-0 bi me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Debe crear almenos un <b>puesto electivo</b> y que este activo para crear un <b>Candidato</b>
                </div>
            </div> 
            {{/if}}
        {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> 
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg> 
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="flex-shrink-0 bi me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Debe crear almenos un <b>partido</b> y que este activo para crear un <b>Candidato</b> 
                </div>
            </div> 
        {{/if}}
      </p>
    </div>
  </div>
</section>

{{#if candidatos}}
  <h1 class="mx-5 text-start">Lista de candidatos</h1>
  <div class="py-3 album bg-light">
    <div class="container">
      <div class="row">
        {{#each candidatos as |candidato|}}
          <div class="m-3 card col-md-5">
            <img
              src="{{candidato.foto}}"
              class="card-img-top img-responsive img-size"
              alt="{{candidato.nombre}}"
            />
            <div class="card-body">
              <h5 class="card-title">Nombre:
                <b>{{candidato.nombre}} {{candidato.apellido}}</b></h5>
              <h6 class="card-text text-muted">Partido:
                {{candidato.partido.dataValues.nombre}}</h6>
              <h6 class="card-text text-muted">Puesto:
                {{candidato.puesto_electivo.dataValues.nombre}}</h6>
                {{#if candidato.estado }}
                     <span class="badge bg-success float-end">Active</span><br>
                {{else}}
                    <span class="badge bg-danger float-end">Disabled</span><br> 
                {{/if}}
              <a
                href="/editar-candidato/{{candidato.id}}?edit=true"
                class="my-3 btn btn-warning"
              >Editar</a>

              <form
                class="form-inline"
                id="form-delete"
                action="/delete-candidato"
                method="POST"
              >
                <input
                  type="hidden"
                  name="candidatoId"
                  value="{{candidato.id}}"
                />
                <button
                  type="submit"
                  id=""
                  class="btn btn-danger"
                >Eliminar</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <h1 class="text-start">No hay candidatos</h1>
{{/if}}