<section class="container py-5 text-center">
    <div class="row py-lg-5">
        <div class="mx-auto col-lg-6 col-md-8">
            <h1 class="fw-light">Candidatos</h1>
            <p class="lead text-muted">Aqui se muestra el listado de los candidatos y las opciones
                que se pueden implementar con los mismos</p>
            <p>
                <a href="/agregar-candidato" class="my-2 btn btn-primary">Agregar nuevo candidato</a>
            </p>
        </div>
    </div>
</section>

<div class="py-5 album bg-light">
    <div class="container">

        <div class="row">
            {{#each candidatos}} 
            <div class="card col-md-3">
                <img src="{{candidato.foto}}" class="card-img-top img-responsive img-size" alt="{{candidato.nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{candidato.nombre}} {{candidato.apellido}}</h5>
                    <h6 class="card-text">Partido</h6>
                    <h6 class="card-text">Puesto</h6>
                    <a href="/editar-candidato/{{candidato.id}}?edit=true" class="btn btn-warning">Editar</a>

                    <form class="form-inline" id="form-delete" action="/delete-candidato" method="POST">
                        <input type="hidden" name="candidatoId" value="{{candidato.id}}">
                        <button type="submit" id="" class="btn btn-danger">Eliminar</button>
                    </form> 
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

 