<%- include("../layout/open") %>
<%- include("../layout/header-administrador") %>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Candidatos</h1>
            <p class="lead text-muted">Aqui se muestra el listado de los candidatos y las opciones
                que se pueden implementar con los mismos</p>
            <p>
                <a href="/agregar-candidato" class="btn btn-primary my-2">Agregar nuevo candidato</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <% candidatos.forEach(candidato => { %>
            <div class="card col-md-3">
                <img src="<%=candidato.foto%>" class="card-img-top img-responsive img-size" alt="<%=candidato.nombre%>">
                <div class="card-body">
                    <h5 class="card-title"><%=candidato.nombre%> <%=candidato.apellido%></h5>
                    <h6 class="card-text">Partido</h6>
                    <h6 class="card-text">Puesto</h6>
                    <a href="/editar-candidato/<%=candidato.id%>?edit=true" class="btn btn-warning">Editar</a>

                    <form class="form-inline" id="form-delete" action="/delete-candidato" method="POST">
                        <input type="hidden" name="candidatoId" value="<%=candidato.id%>">
                        <button type="submit" id="" class="btn btn-danger">Eliminar</button>
                    </form>


                </div>
            </div>

            <% }) %>

        </div>
    </div>
</div>





<%- include("../layout/footer") %>
<%- include("../layout/close") %>