<%- include("../layout/open") %>
<%- include("../layout/header-administrador") %>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Ciudadanos</h1>
            <p class="lead text-muted">Aqui se muestra el listado de los ciudadanos y las opciones
                que se pueden implementar con los mismos</p>
            <p>
                <a href="/agregar-ciudadano" class="btn btn-primary my-2">Agregar nuevo ciudadano</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <% ciudadanos.forEach(ciudadano => { %>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title"><%=ciudadano.nombre%> <%=ciudadano.apellido%> </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Documento de identidad:
                        <%=ciudadano.documento_de_identidad%></h6>
                    <h6 class="card-text"><%=ciudadano.email%></h6>
                    <a href="/editar-ciudadano/<%=ciudadano.id%>?edit=true" class="btn btn-warning">Editar</a>

                    <form class="form-inline" id="form-delete" action="/delete-ciudadano" method="POST">
                        <input type="hidden" name="ciudadanoId" value="<%=ciudadano.id%>">
                        <button type="submit" id="" class="btn btn-danger">Eliminar</button>
                    </form>


                </div>
            </div>

            <% }) %>

        </div>
    </div>
</div>





<%- include("../layout/footer") %>
<%- include("../layout/close") %>