<%- include("../layout/open") %>
<%- include("../layout/header-administrador") %>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Puestos Electivos</h1>
            <p class="lead text-muted">Aqui se muestra el listado de los puestos electivos disponibles y las opciones
                que
                se pueden implementar con los mismos</p>
            <p>
                <a href="/agregar-puesto" class="btn btn-primary my-2">Agregar nuevo puesto electivo</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <% puestosElectivos.forEach(puestoElectivo => { %>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title"><%= puestoElectivo.nombre %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= puestoElectivo.descripcion %></h6>
                    <a href="/editar-puesto-electivo/<%= puestoElectivo.id %>?edit=true"
                        class="btn btn-warning">Editar</a>

                    <form class="form-inline" id="form-delete" action="/delete-puesto" method="POST">
                        <input type="hidden" name="puestoId" value="<%= puestoElectivo.id %>">
                        <button type="submit" id="" class="btn btn-danger">Eliminar</button>
                    </form>


                </div>
            </div>

            <% }) %>

        </div>
    </div>
</div>





<%- include("../layout/footer") %>
<%- include("../layout/close") %>