 
<section class="container py-5 text-center">
    <div class="row py-lg-5">
        <div class="mx-auto col-lg-6 col-md-8">
            <h1 class="fw-light">Partidos</h1>
            <p class="lead text-muted">Aqui se muestra el listado de los partidos y las opciones
                que se pueden implementar con los mismos</p>
            <p>
                <a href="/agregar-partido" class="my-2 btn btn-primary">Agregar nuevo pardido</a>
            </p>
        </div>
    </div>
</section>

<div class="py-5 album bg-light">
    <div class="container"> 
        <div class="row">
            {{#each partidos}}
            <div class="card col-md-3">
                <img src="{{partido.logo}}" class="card-img-top img-responsive img-size" alt="{{partido.nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{partido.nombre}}</h5>
                    <h6 class="card-text">{{partido.descripcion}}</h6>
                    <a href="/editar-partido/{{partido.id}}?edit=true" class="btn btn-warning">Editar</a>

                    <form class="form-inline" id="form-delete" action="/delete-partido" method="POST">
                        <input type="hidden" name="partidoId" value="<%=partido.id%>">
                        <button type="submit" id="" class="btn btn-danger">Eliminar</button>
                    </form> 
                </div>
            </div> 
            {{/each}}
        </div>
    </div>
</div>

