<div class="mt-4 row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="text-white card-header bg-dark">
                {{#if editMode}} 
                    Editar Partido
                {{else}} 
                    Agregar Partido
                {{/if}}
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="POST" action="{{#if editMode}}/editar-partido{{else}}/agregar-partido{{/if}}">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del partido</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{#if editMode}}{{partido.nombre}}{{/if}}">
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Seleccione una imagen para el logo</label>
                        <input class="form-control" name="ImagePath" type="file" id="formFile">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{#if editMode}}{{partido.descripcion}}{{/if}}">
                    </div>

                    {{#if editMode}}
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <select class="form-control" id="estado" name="estado">
                            <option value=1>Activo</option>
                            <option value=0>Inactivo</option>
                        </select>
                    </div>
                    {{/if }}

                    {{#if editMode}}
                        <input type="hidden" name="partidoId" value="<%= partido.id %> ">
                    {{/if}}

                    <button type="submit" class="btn btn-primary">{{#if editMode}}
                        Editar
                    {{else}}
                        Agregar
                    {{/if}}
                    </button>
                        <a href="/partidos" type="button" class="btn btn-warning">Regresar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>